{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Title</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'style.css' %}" rel="stylesheet">


</head>

<body>
    <div class="wrapper">
        <div class="wrapper-content">
            {% include 'navbar.html' %}

            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% include 'footer.html' %}

  <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{% static 'admin/js/scripts.js' %}"></script>

</body>

</html>
